@media screen 
  and (min-device-width: 699px), 
  and (max-device-width: 1023px) 
 { 


.codi-element-big-overlay, .options-element-s-overlay, 
.trade-element-l-overlay, .hms-element-xl-overlay, 
.auto-element-xl-overlay, .sail-element-l-overlay,
.callendar-element-s-overlay, .home-payment-element-xl-overlay  {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

/*overlay color positioning at after and photo background on befor - like this
for blur filter */

.codi-element-big-overlay::before {
  content: '';
  min-width: 100%;
  min-height: 100%;
  background-image:url('.././img/codiscreenmain01.png');
  background-size: cover; 
  /*background-size:contain;*/
  background-position:center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;

}


.options-element-s-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/optionscreenmain01.png');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.options-element-s-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #33BE8B;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.trade-element-l-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/tradebeat.png');
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.trade-element-l-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #00a9fa;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.hms-element-xl-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/hmsscreenmain.png');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.hms-element-xl-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #011133;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.auto-element-xl-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/carcluster.png');
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.auto-element-xl-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.sail-element-l-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/sailingaura.png');
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.sail-element-l-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #f8c21c;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.callendar-element-s-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/sheduleapp.png');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.callendar-element-s-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #3ad6c8;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}
.home-payment-element-xl-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/paymentmain01.png');
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.home-payment-element-xl-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #3ed6b5;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}
/*general elements setting*/

.codi-element-big-overlay-title, .options-element-s-overlay-title,
.trade-element-l-overlay-title, .hms-element-xl-overlay-title,
.auto-element-xl-overlay-title, .sail-element-l-overlay-title,
.callendar-element-s-overlay-title, .home-payment-element-xl-overlay-title  {
  position: relative;
  top:0;
  margin-top: 34rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #4A4A4A;
  text-align: center;
  letter-spacing: 1px;

}

.codi-element-big-overlay-description, .options-element-s-overlay-descriptions,
.trade-element-l-overlay-description, .hms-element-xl-overlay-description,
.auto-element-xl-overlay-description, .sail-element-l-overlay-description,
.callendar-element-s-overlay-description, .home-payment-element-xl-overlay-description {
  position: relative;
  /*top: -270px;*/
  margin-bottom: 1.8rem;
  margin-top: 4rem;
  font-family: 'Lato', sans-serif;
  color: #4A4A4A;
  text-align: center;
  letter-spacing: 1px;
  white-space: pre-line;
  line-height: 1.7rem;

  display: none;

}

.options-element-s-overlay-link,
.trade-element-l-overlay-link,.sail-element-l-overlay-link,
.callendar-element-s-overlay-link, .home-payment-element-xl-overlay-link {
  position: absolute;
  display: block;
  width: 30%;
  top: 29rem;
  right: 0;
  padding: 10px;
  /*margin: 0 auto;*/
  font-family: 'Lato', sans-serif;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  display: none; disable to show links to case studies
}


.codi-element-big-overlay-link, .hms-element-xl-overlay-link,
.auto-element-xl-overlay-link,.home-payment-element-xl-overlay-link {
  position: absolute;
  display: block;
  width: 30%;
  top: 29rem;
  right: 0;
  padding: 10px;
  /*margin: 0 auto;*/
  font-family: 'Lato', sans-serif;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  display: none; disable to show links to case studies
}





/*CTA-link See Case Study Shadows*/

.codi-element-big-overlay-link/*:hover*/ {
  background-color: white;
  color: #68C1C3;
 -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
  -moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
  box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
}

.options-element-s-overlay-link/*:hover*/ {

  background-color: white;
  color: #68C1C3;
  -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
  -moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
  box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);

}

.trade-element-l-overlay-link/*:hover*/ {
  background-color: white;
  color: #68C1C3;
  -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
-moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
}

.hms-element-xl-overlay-link/*:hover*/ {
  background-color: white;
  color: #68C1C3;
  -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
-moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
}

.auto-element-xl-overlay-link/*:hover*/ {
  background-color: white;
  color: #68C1C3;
 -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
-moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
}

.sail-element-l-overlay-link/*:hover*/ {
  background-color: white;
  color: #68C1C3;
  -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
-moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
}

.callendar-element-s-overlay-link/*:hover*/ {
  background-color: white;
  color: #68C1C3;
 -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
-moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
}

.home-payment-element-xl-overlay-link/*:hover*/ {
  background-color: white;
  color: #68C1C3;
 -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
-moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
  }

.codi-element-big:hover .codi-element-big-overlay:after {
  opacity: 0;
}

.codi-element-big-overlay:hover::before {
  filter: none;
}


.small-element:hover .options-element-s-overlay::after {
  opacity: 0;
}

.options-element-s-overlay:hover::before {
  filter: none;
}

.medium-element:hover .trade-element-l-overlay::after {
  opacity: 0;
}

.trade-element-l-overlay:hover::before {
  filter: none;
}

.element-big-two:hover .hms-element-xl-overlay::after {
  opacity: 0;
}

.hms-element-xl-overlay:hover::before {
  filter: none;
}

.element-big-auto:hover .auto-element-xl-overlay::after {
  opacity: 0;
}


.auto-element-xl-overlay:hover::before {
  filter: none;
}

.medium-element-two:hover .sail-element-l-overlay::after {
  opacity: 0;
}
  .sail-element-l-overlay:hover::before {
  filter: none;
}


.small-element-two:hover .callendar-element-s-overlay::after {
  opacity: 0;
}

.callendar-element-s-overlay:hover::before {
  filter: none;
}

.element-big-tree:hover .home-payment-element-xl-overlay::after {
  opacity: 0;
}

.home-payment-element-xl-overlay:hover::before {
  filter: none;
}




}