/*.header-container {
	background-color: white;
	}
.hello-messege {
	font-family: 'Lato', sans-serif;
	line-height: 1.5rem;
	display: inline-block;
	color: #4A4A4A;
	font-size: 14px;
}

.pw-name {
	font-size: 14px;
}

li {
	font-size: 14px;
}

.hello-mobile {
	font-family: 'Lato', sans-serif;
	line-height: 1.5rem;
	display: block;
	color: #8a8989;
	top: 12rem;
	text-align: center;
    position: inherit;
}
.mobile-rwd-info {
	font-size: 14px;
	margin-left: 3rem;
    margin-right: 3rem;
    line-height: 1.8rem;
    white-space: pre-line;
}

.visual-manifesto {
	width: 50%;
    height: auto;
    display: block;
    position: relative;
    top: 9rem;
    margin: 0 auto;

}

.info {
	display: none;
}

.port {
	display: none;
}

footer {
	display: none;
}*/
/*html {
	overflow-x: hidden;
}*/

body {
    margin: 0;
    overflow-x: hidden;
}
.header-container {
    background-color: white;
	height: 25rem;
    width: 79%;
    margin: 3rem auto;
    position: relative;
	}

.hello-mobile {
	display: none;
}

.hello-messege {
	font-family: 'Lato', sans-serif;
	line-height: 1.5rem;
	display: inline-block;
	color: #4A4A4A;
	

}

.hello-tablet {
	font-family: 'Lato', sans-serif;
	line-height: 1.5rem;
	display: block;
	/*position: absolute;*/
	color: #8a8989;
	top: 12rem;
	/*margin: 0 auto; */
	/*width: auto;*/
	text-align: center;
    position: inherit;
}
.tablet-rwd-info {
	margin-left: 10rem;
    margin-right: 10rem;
    line-height: 2rem;
}

.linkedin {

	font-family: 'Lato', sans-serif;
	color: #68C1C3;
	text-decoration: none;

}

.tooltip {
	display: none;
} 
.pw-name {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 0.04rem;
    margin: -0.7rem 0;
    color: #4A4A4A;
}
nav {
    
    font-family: 'Lato', sans-serif;
    right: 0;
    color: #68C1C3
}
ul {
    position: absolute;
    right: 0.5rem;
    top: -0.7rem;
    
}
li {
    /*position: absolute;*/
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
}

.info-container {
	display: inline-block;
}
.about-content {
    
    background-color: #F59678;
}
.about-content-frame {
    margin-left: 3rem;
}
.about-title {
    font-family:'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #4A4A4A;
    padding-top: 2rem;

}
.about-text {
    
    font-family:'Lato', sans-serif;
    padding-right: 2.5rem;
    padding-bottom: 3rem;
    color: #4A4A4A;
    line-height: 1.7rem;
    white-space: pre-line;
    margin-bottom: 0;
}
.skills-content {
    background-color: #68C1C3;
    flex-basis: 40%;
    flex-flow: row nowrap;
    order: 2;
}
.illu-about {
    
    background-color: white;
    flex-basis: 60%;
    
}
.skills-title-text {
    font-family: 'Lato', sans-serif;
    color: #4A4A4A;
    margin-top: 0rem;
    margin-left: 3rem;
    padding-top: 2rem;
}
.skills-text {
	display: block;
    font-family: 'Lato', sans-serif;
    color: #4A4A4A;
    line-height: 1.7rem;
    margin-top: 1rem;
    margin-left: 3rem;
    padding-bottom: 3rem;
    align-self: flex-start;
}
.visual-manifesto {
	width: 60%;
    height: auto;
    display: block;
    position: relative;
    top: 9rem;
    margin: 0 auto;
}
.product-design, .user-expirience, 
.user-interface, .human-centered-design,
.design-thinking, .workshops-facilitation,
.agile-metodologhies, .project-managemant,
.html-skills, .css-skills, .basic-js-understanding
 {
    position: relative; 
    top: 2px;
    padding-right: 6px;

}
.container-port {
    background-color: #EBEBEB;
}
.container-portfolio {
    width: 86%;
    margin: 0rem auto;
    display: inherit;
    flex-flow: row wrap;
    justify-content: space-between;
}
.portfolio-title-text {
    font-family:'Lato', sans-serif;
    font-weight: 700;
    color: #4A4A4A;
    margin: 0;
    padding-top: 3rem;

}
.codi-element-big {
    position: relative;
    flex-basis: 100%;
    height: 28rem;
    margin-top: 3rem;
    font-family:'Lato', sans-serif;
    overflow: visible;
    transition: all .4s ease;
    background-color: #1561BB;
}
.small-element, .medium-element, .element-big-two, .element-big-auto, .medium-element-two,
.small-element-two, .element-big-tree {
	overflow: visible;
	margin-top: 3rem;
    position: relative;
    height: 28rem;
    flex-basis: 30%;
    font-family:'Lato', sans-serif;
    transition: all .4s ease;
    background-color: #32BE8B;
}


.small-element-tree, .small-element-four,
 .small-element-five {
    margin-right: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: -7rem;
}
.small-element-tree img , .small-element-four img,
.small-element-five img {
    width: 100%;
    height: auto;
}

.proudct-design-illu-title, .design-wr-illu-title, .agile-methodologies-title {
    position: relative;
     top: -6rem; 
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #8a8989;
    flex-grow: 1;
    margin-right: 4rem;
}		

.info {
	
}

.port {
	
}
.codiscreenmain {
    width: 1124;
    height: auto;
}

footer {
    background-image: url('../img/stars.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin-top: 3rem;
    padding-top: 0.1rem;
    background-size: cover;
    color: white;
}
.all-rights {

    margin-left: 2rem;
    color: white;
    font-family:'Lato', sans-serif;
    margin-top: 0;
    align-self: flex-start;
    margin-top: 3rem;
}
.links-footer{
    color: white;
    
}


.medium {
    margin-top: 3rem;
    margin-left: 2rem;
    font-family: 'Lato', sans-serif;
    justify-content: flex-end;
}
.medium-a {
    text-decoration: none;
    color: white;
}
.dribble {
    margin-top: 3rem;
    margin-left: 2rem;
    font-family:'Lato', sans-serif;
}
.dribble-a {
    text-decoration: none;
    color: white;
}
.insta {
    margin-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 2rem;
    font-family:'Lato', sans-serif;
}

.insta-a {
    text-decoration: none;
    color: white;

}



.codi-element-big-overlay, .options-element-s-overlay, 
.trade-element-l-overlay, .hms-element-xl-overlay, 
.auto-element-xl-overlay, .sail-element-l-overlay,
.callendar-element-s-overlay, .home-payment-element-xl-overlay  {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  line-height: 2rem;
  font-size: 1rem;
}

/*overlay color positioning at after and photo background on befor - like this
for blur filter */

.codi-element-big-overlay::before {
  content: '';
  min-width: 100%;
  min-height: 100%;
  background-image:url('.././img/codiscreenmain01.png');
  background-size: cover; 
  /*background-size:contain;*/
  background-position:left;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;

}

.codi-element-big-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #1565C0;
  opacity: 0.85;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}


.options-element-s-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/optionscreenmain01.png');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.options-element-s-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #33BE8B;
  opacity: 0.85;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.trade-element-l-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/tradebeat.png');
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.trade-element-l-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #00a9fa;
  opacity: 0.85;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.hms-element-xl-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/hmsscreenmain.png');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.hms-element-xl-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #011133;
  opacity: 0.85;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.auto-element-xl-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/carcluster.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.auto-element-xl-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.85;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.sail-element-l-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/sailingaura.png');
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.sail-element-l-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #f8c21c;
  opacity: 0.85;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.callendar-element-s-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/sheduleapp.png');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.callendar-element-s-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #3ad6c8;
  opacity: 0.85;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}
.home-payment-element-xl-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/paymentmain01.png');
  background-position: right;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.home-payment-element-xl-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #3ed6b5;
  opacity: 0.85;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}
/*general elements setting*/

.codi-element-big-overlay-title, .options-element-s-overlay-title,
.trade-element-l-overlay-title, .hms-element-xl-overlay-title,
.auto-element-xl-overlay-title, .sail-element-l-overlay-title,
.callendar-element-s-overlay-title, .home-payment-element-xl-overlay-title  {
  position: relative;
  top:0;
  padding-left: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: left;
  letter-spacing: 1px;

}

.codi-element-big-overlay-description, .options-element-s-overlay-descriptions,
.trade-element-l-overlay-description, .hms-element-xl-overlay-description,
.auto-element-xl-overlay-description, .sail-element-l-overlay-description,
.callendar-element-s-overlay-description, .home-payment-element-xl-overlay-description {
  position: relative;
  /*top: -270px;*/
  margin-bottom: 1.8rem;
  margin-top: 4rem;
  font-family: 'Lato', sans-serif;
  color: #4A4A4A;
  text-align: center;
  letter-spacing: 1px;
  white-space: pre-line;
  line-height: 1.7rem;

  display: none;

}

.options-element-s-overlay-link, .codi-element-big-overlay-link,
.trade-element-l-overlay-link, .sail-element-l-overlay-link,
.callendar-element-s-overlay-link, .home-payment-element-xl-overlay-link {
  position: absolute;
  display: block;
  top: 23rem;
  right: 0;
  margin-right: 3rem;
  padding: 10px;
  /*margin: 0 auto;*/
  font-family: 'Lato', sans-serif;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  display: none; disable to show links to case studies
}


.codi-element-big-overlay-link, .hms-element-xl-overlay-link,
.auto-element-xl-overlay-link,.home-payment-element-xl-overlay-link {
  position: absolute;
  display: block;
  top: 23rem;
  right: 0;
  padding: 10px;
  margin-right: 3rem;
  /*margin: 0 auto;*/
  font-family: 'Lato', sans-serif;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  display: none; disable to show links to case studies
}





/*CTA-link See Case Study Shadows*/

.codi-element-big-overlay-link/*:hover*/ {
  background-color: white;
  color:#1565C0;
;
 -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
  -moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
  box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
}

.options-element-s-overlay-link/*:hover*/ {

  background-color: white;
  color: #33BE8B;
  -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
  -moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
  box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);

}

.trade-element-l-overlay-link/*:hover*/ {
  background-color: white;
  color: #00a9fa;
  -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
-moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
}

.hms-element-xl-overlay-link/*:hover*/ {
  background-color: white;
  color: #011133;
  -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
-moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
}

.auto-element-xl-overlay-link/*:hover*/ {
  background-color: white;
  color: #000000;
 -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
-moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
}

.sail-element-l-overlay-link/*:hover*/ {
  background-color: white;
  color: #f8c21c;
  -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
-moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
}

.callendar-element-s-overlay-link/*:hover*/ {
  background-color: white;
  color: #3ad6c8;
 -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
-moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
}

.home-payment-element-xl-overlay-link/*:hover*/ {
  background-color: white;
  color: #3ed6b5;
 -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
-moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
  }

.codi-element-big:hover .codi-element-big-overlay:after {
  opacity: 0;
}

.codi-element-big-overlay:hover::before {
  filter: none;
}


.small-element:hover .options-element-s-overlay::after {
  opacity: 0;
}

.options-element-s-overlay:hover::before {
  filter: none;
}

.medium-element:hover .trade-element-l-overlay::after {
  opacity: 0;
}

.trade-element-l-overlay:hover::before {
  filter: none;
}

.element-big-two:hover .hms-element-xl-overlay::after {
  opacity: 0;
}

.hms-element-xl-overlay:hover::before {
  filter: none;
}

.element-big-auto:hover .auto-element-xl-overlay::after {
  opacity: 0;
}


.auto-element-xl-overlay:hover::before {
  filter: none;
}

.medium-element-two:hover .sail-element-l-overlay::after {
  opacity: 0;
}
  .sail-element-l-overlay:hover::before {
  filter: none;
}


.small-element-two:hover .callendar-element-s-overlay::after {
  opacity: 0;
}

.callendar-element-s-overlay:hover::before {
  filter: none;
}

.element-big-tree:hover .home-payment-element-xl-overlay::after {
  opacity: 0;
}

.home-payment-element-xl-overlay:hover::before {
  filter: none;
}




}

