.header-container {
	background-color: white;
	}
.hello-messege {
	font-family: 'Lato', sans-serif;
	line-height: 1.5rem;
	display: inline-block;
	color: #4A4A4A;
	font-size: 14px;
}

.pw-name {
	font-size: 14px;
}

li {
	font-size: 14px;
}

.hello-mobile {
	font-family: 'Lato', sans-serif;
	line-height: 1.5rem;
	display: block;
	color: #8a8989;
	top: 12rem;
	text-align: center;
    position: inherit;
}
.mobile-rwd-info {
	font-size: 14px;
	margin-left: 3rem;
    margin-right: 3rem;
    line-height: 1.8rem;
    white-space: pre-line;
}

.visual-manifesto {
	width: 50%;
    height: auto;
    display: block;
    position: relative;
    top: 9rem;
    margin: 0 auto;

}

.info {
	display: none;
}

.port {
	display: none;
}

footer {
	display: none;
}