body {
	margin: 0;
}

.header-container {
	background-color: white;
	height: 30rem;
	width: 79%;
	margin: 3rem auto;
	position: relative;
}
.hero-content {
	/*width: 70rem;
	margin: 3rem auto;*/
}
.visual-manifesto {
	width: 30%;
	height: auto;
	position: absolute;
	right: 26rem;
	top: 13rem;
}
.lightning:hover {
	fill:#97EDEF;
	transition-property: fill;
  	transition-duration: 800ms;
  	transition-timing-function: ease-in-out;

}
.hello-messege {
	font-family: 'Lato', sans-serif;
	line-height: 1.5rem;
	display: inline-block;
	color: #4A4A4A;

}
.pw-name {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: 0.04rem;
	margin: -0.7rem 0;
	color: #4A4A4A;
}
nav {
	
	font-family: 'Lato', sans-serif;
	right: 0;
	color: #68C1C3
}
ul {
	position: absolute;
	right: 0.5rem;
	top: -0.7rem;
	
}
li {
	/*position: absolute;*/
	display: inline-block;
	text-decoration: none;
	padding: 1rem;
}

/*section info style*/

.info-container {
	display: flex;
}



.about-content {
	display: flex;
	flex-flow: row nowrap;
	flex-basis: 60%;
	order: 1;
	background-color: #F59678;
}



.about-title {
	font-family:'Lato', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #4A4A4A;
	margin-top: 3.2rem;
	margin-left: 9.5rem;

}

.about-text {
	
	font-family:'Lato', sans-serif;
	padding-right: 9.5rem;
	padding-bottom: 3rem;
	color: #4A4A4A;
	margin-top: 3rem;
	margin-left: 3rem;
	line-height: 1.7rem;
	white-space: pre-line;
}


.timeline-content {
	background-color: #68C1C3;
	flex-basis: 40%;
	flex-flow: row nowrap;
	order: 2;
}
	

.illu-about {
	
	background-color: white;
	flex-basis: 60%;
	
}
.timline-title-text {
	font-family:'Lato', sans-serif;
	color: #4A4A4A;
	margin-top: 3.2rem;
	margin-left: 3rem;

}
.timeline-text {
	font-family:'Lato', sans-serif;
	color: #4A4A4A;
	margin-top: 3rem;
	margin-left: 3rem;
	align-self: flex-start;
	display: none;
}


.container-port {
	background-color: #EBEBEB;
}
.container-portfolio {
	width: 79%;
	margin: 0rem auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.portfolio-title-text {
	font-family:'Lato', sans-serif;
	font-weight: 700;
	color: #4A4A4A;
	margin: 0;
	padding-top: 3rem;
	margin-left: 9.5rem;

}
.codi-element-big {
	flex-basis: 100%;
	height: 28rem;
	margin-top: 3rem;
}
.codi-element-big img {
	width: 100%; 
	height: auto;
}
.small-element {
	height: 28rem;
	margin-top: 3rem;
	flex-basis: 30%;
	
}
.small-element img{
	width: 100%; 
	height: auto;
}

.medium-element img {
	width: 100%; 
	height: auto;
}

.medium-element {
	background-color:#E1E1E1;
	height: 28rem;
	margin-top:3rem;
	margin-left: 3rem;
	flex-basis: 65%;
}
.element-big-two {
	/*background-color: #E1E1E1;*/
	flex-basis: 100%;
	height: 28rem;
	margin-top: 3rem;
}

.element-big-two img {
	width: 100%; 
	height: auto;

}
.medium-element-two {
	background-color:#E1E1E1;
	height: 28rem;
	margin-top:3rem;
	flex-basis: 65%;

}
.element-big-tree {
	background-color:#E1E1E1;
	flex-basis: 100%;
	height: 28rem;
	margin-top: 3rem;

}
.small-element-two {
	background-color: #E1E1E1;
	height: 28rem;
	margin-top: 3rem;
	flex-basis: 30%;
	margin-left: 3rem;
}
.small-element-tree {
	background-color: #E1E1E1;
	height: 28rem;
	margin-top: 3rem;
	flex-basis: 30%;
	margin-right: 3rem;
	margin-bottom: 3rem;
}
.small-element-four {
	background-color: #E1E1E1;
	height: 28rem;
	margin-top: 3rem;
	flex-basis: 30%;
	margin-right: 3rem;
	margin-bottom: 3rem;
}
.small-element-five {
	background-color: #E1E1E1;
	height: 28rem;
	margin-top: 3rem;
	flex-basis: 30%;
	margin-bottom: 3rem;
}

.codiscreenmain {
	width: 1124;
	height: auto;
}

footer {
	background-image: url(../img/stars.png);
	height: 15rem;
	/*position: fixed;*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100rem;

	display: flex;
	flex-flow: row nowrap;
	color: white;
	justify-content: space-between;
}
.all-rights {
	color: white;
	font-family:'Lato', sans-serif;
	margin-top: 0;
	margin-left: 9.9rem;
	align-self: flex-start;
	margin-top: 7rem;
	
}
.links-footer{
	color: white;
	
}

.linkdin {
	margin-top: 7rem;
	margin-left: 34rem;
	font-family:'Lato', sans-serif;
	justify-content: flex-end;
}
.linkedin-a {
	text-decoration: none;
	color: white;
}
.dribble {
	margin-top: 7rem;
	font-family:'Lato', sans-serif;
}
.dribble-a {
	text-decoration: none;
	color: white;
}
.insta {
	margin-top: 7rem;
	margin-right: 10rem;
	font-family:'Lato', sans-serif;
}
.insta-a {
	text-decoration: none;
	color: white;

}
	

