body {
  display: block;
  margin: 0;
}



.header-container {
	background-color: white;
	height: 30rem;
	width: 79%;
	margin: 3rem auto;
	position: relative;
}
/* .hero-content { */
	/*width: 70rem;
	margin: 3rem auto;*/
/* } */
.visual-manifesto {
	width: 30%;
    height: auto;
    display: block;
    position: relative;
    top: 9rem;
    margin: 0 auto;
}
.lightning:hover {
	fill:#97EDEF;
	transition-property: fill;
  	transition-duration: 800ms;
  	transition-timing-function: ease-in-out;

}
.hello-messege {
	font-family: 'Lato', sans-serif;
	line-height: 1.5rem;
	display: inline-block;
	color: #4A4A4A;

}

.hello-tablet {
	display: none;
}
.hello-mobile {
	display: none;
}
.pw-name {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: 0.04rem;
	margin: -0.7rem 0;
	color: #4A4A4A;
}
nav {
	
	font-family: 'Lato', sans-serif;
	right: 0;
	color: #68C1C3
}
ul {
	position: absolute;
	right: 0.5rem;
	top: -0.7rem;
	
}
li {
	/*position: absolute;*/
	display: inline-block;
	text-decoration: none;
	padding: 1rem;
}

.linkedin {

	font-family: 'Lato', sans-serif;
	color: #68C1C3;
	text-decoration: none;

}

  .tooltip {
  	z-index: 1;
    transition: top 5.5s ease;
    /*top:174px;*/
    position: absolute;
    background: #68C1C3;
    border-radius:4px;
    padding: 6px 12px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #ffffff;
    max-width: 200px;
  }

  .tooltip:before {
    content : " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #68C1C3;
    position:absolute;
    bottom:-5px;
    left:100px;

  }

/*section info style*/

.info-container {
	display: flex;
}



.about-content {
	/*display: flex;
	flex-flow: row nowrap;*/
	flex-basis: 60%;
	/*order: 1;*/
	background-color: #EBEBEB;
}

.about-content-frame {
	display: flex;
    flex-flow: row nowrap;
    max-width: 82%;
    order: 1;
    margin-left: auto;
    padding-top: 7em;
    padding-bottom: 7em;

}

.about-title {
	font-family:'Lato', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #4A4A4A;
	margin-top: 3.2rem;

}

.about-text {
	
	font-family:'Lato', sans-serif;
	padding-right: 9.5rem;
	padding-bottom: 3rem;
	color: #4A4A4A;
	margin-top: 3rem;
	margin-left: 3rem;
	line-height: 1.7rem;
	white-space: pre-line;
}


.skills-content {
	background-color: #EBEBEB;
	flex-basis: 40%;
	display: flex;
	flex-flow: row nowrap;
  order: 2;
  padding-top: 7em;
  padding-bottom: 7em;
}
	

.illu-about {
	
	background-color: white;
	flex-basis: 60%;
	
}
.skills-title-text {
	font-family:'Lato', sans-serif;
	color: #4A4A4A;
	margin-top: 3.2rem;
	margin-left: 3rem;

}
.skills-text {
	font-family:'Lato', sans-serif;
	color: #4A4A4A;
	line-height: 1.7rem;
	padding-right: 7.5rem;
	margin-top: 3rem;
	margin-left: 3rem;
	margin-bottom: 3rem;
	align-self: flex-start;
	
}

.product-design, .user-expirience, 
.user-interface, .human-centered-design,
.design-thinking, .workshops-facilitation,
.agile-metodologhies, .project-managemant,
.html-skills, .css-skills, .basic-js-understanding
 {
	position: relative; 
    top: 2px;
    padding-right: 6px;

}

.container-port {
	background-color: #EBEBEB;
}
.container-portfolio {
	width: 79%;
	margin: 0rem auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.portfolio-title-text {
	font-family:'Lato', sans-serif;
	font-weight: 700;
	color: #4A4A4A;
	margin: 0;
	padding-top: 7rem;

}


.codi-element-big {
	position: relative;
	flex-basis: 100%;
	height: 28rem;
	margin-top: 3rem;
	font-family:'Lato', sans-serif;
	overflow: hidden;
	transition: all .4s ease;
  background-color: #1561BB;
  z-index: 12;
}


/*Modal Css */
.modal {
  transform: translate3d(0, 0, 0);
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 20px;
  
}

.modal-inner {
  color: #4A4A4A;
  background-color: #EBEBEB;
  border-radius: 3px;
  max-width: 80%;
  margin: 50px auto;
  padding: 20px;
  width: auto;
  position: relative;
  z-index: 12;

}

.modal-case {
	margin-left: 5%;
	margin-top: -1%;
	width: 90%;
}

.modal-h1 {
	margin-left: 70px;
	margin-bottom: 3%;
}

.modal-h1-thanks {
	align-content: center;
	margin-left: 45%;
	margin-top: 5%;
}

#close-button {
   float: right;
   width: 1.5rem;
   line-height: 1.5rem;
   text-align: center;
   cursor: pointer;
   border-radius: 0.25rem;
    }
    #close-button:hover {
        background-color: lightgray;
    }

  .close-end-btn {
  font-family: 'Lato', sans-serif;
  padding: 14px;
  color: #68C1C3;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  margin-left: 45.5%;
  border: 2px #68C1C3;
  border-radius: 50px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  background-color: #fff;
  margin-bottom: 2%;

  }

  .close-end-btn:hover {
 	background-color: #fff;
  color:#68C1C3;
;
 -webkit-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
  -moz-box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);
  box-shadow: 0px 0px 53px -8px rgba(163,163,163,0.69);

  }

/*End of modal css*/


.small-element {
	position: relative;
	height: 28rem;
	margin-top: 3rem;
	flex-basis: 30%;
	font-family:'Lato', sans-serif;
	overflow: auto;
	transition: all .4s ease;
	background-color: #32BE8B;
	
}


.medium-element {
	position: relative;
	background-color:#19B1FA;
	height: 28rem;
	margin-top:3rem;
	margin-left: auto;
	flex-basis: 65%;
	font-family:'Lato', sans-serif;
	overflow: auto;
	transition: all .4s ease;
}
.element-big-two {
	position: relative;
	background-color: #172644;
	flex-basis: 100%;
	height: 28rem;
	margin-top: 3rem;
	font-family:'Lato', sans-serif;
	overflow: hidden;
	transition: all .4s ease;
}


.element-big-auto {
	position: relative;
	background-color: #070205;
	flex-basis: 100%;
	height: 28rem;
	margin-top: 3rem;
	font-family:'Lato', sans-serif;
	overflow: auto;
	transition: all .4s ease;
}

.medium-element-two {
	position: relative;
	background-color:#F5C530;
	height: 28rem;
	margin-top:3rem;
	flex-basis: 65%;
	font-family:'Lato', sans-serif;
	overflow: auto;
	transition: all .4s ease;

}

.small-element-two {
	position: relative;
	background-color: #1FB7AE;
	height: 28rem;
	margin-top: 3rem;
	flex-basis: 30%;
	margin-left: auto;
	font-family:'Lato', sans-serif;
	overflow: auto;
	transition: all .4s ease;
}

.element-big-tree {
	position: relative;
	background-color:#62DDC2;
	flex-basis: 100%;
	height: 28rem;
	margin-top: 3rem;
	font-family:'Lato', sans-serif;
	overflow: auto;
	transition: all .4s ease;

}


/*Ilustration and links to info pages*/

.small-element-tree {
	/*background-color: #E1E1E1;*/
	margin-top: 1rem;
	flex-basis: 30%;
	margin-right: auto;
	text-align: center;
}

.small-element-tree img {
	width: 100%; 
  height: auto;
  padding-top: 7em;

}

.proudct-design-illu-title, .design-wr-illu-title, .agile-methodologies-title {
	position: relative;
	top: -3rem;
	font-family:'Lato', sans-serif;
	text-align: center;
	color: #8a8989;
}


.small-element-four {
	/*background-color: #E1E1E1;*/
	margin-top: 1rem;
	flex-basis: 30%;
	margin-right: 3rem;
	text-align: center;
}

.small-element-four img {
	width: 100%; 
  height: auto;
  padding-top: 7em;

}
.small-element-five {
	/*background-color: #E1E1E1;*/
	margin-top: 1rem;
	flex-basis: 30%;
	text-align: center;
}

.small-element-five img {
	width: 100%; 
  height: auto;
  padding-top: 7em;

}

.codiscreenmain {
	width: 1124;
	height: auto;
}

footer {
	background-image: url(../img/stars.png);
	height: 15rem;
	/*position: fixed;*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 120rem;

	display: flex;
	flex-flow: row nowrap;
	color: white;
	justify-content: space-between;
}
.all-rights {
	color: white;
	font-family:'Lato', sans-serif;
	margin-top: 0;
	margin-left: 9.9rem;
	align-self: flex-start;
	margin-top: 7rem;
	
}
.links-footer{
	color: white;
	
}

.medium {
	margin-top: 7rem;
	margin-left: 2rem;
	font-family:'Lato', sans-serif;
	justify-content: flex-end;
}
.medium-a {
	text-decoration: none;
	color: white;
}
.dribble {
	margin-top: 7rem;
	margin-left: auto;
	font-family:'Lato', sans-serif;
}
.dribble-a {
	text-decoration: none;
	color: white;
}
.insta {
	margin-top: 7rem;
	margin-right: 10rem;
	margin-left: 2rem;
	font-family:'Lato', sans-serif;
}
.insta-a {
	text-decoration: none;
	color: white;

}



.codi-element-big-overlay, .options-element-s-overlay, 
.trade-element-l-overlay, .hms-element-xl-overlay, 
.auto-element-xl-overlay, .sail-element-l-overlay,
.callendar-element-s-overlay, .home-payment-element-xl-overlay  {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

/*overlay color positioning at after and photo background on befor - like this
for blur filter */

.codi-element-big-overlay::before {
  content: '';
  min-width: 100%;
  min-height: 100%;
  background-image:url('.././img/codiscreenmain01.png');
  background-size: cover; 
  /*background-size:contain;*/
  background-position:left;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.codi-element-big-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #1565C0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.options-element-s-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/optionscreenmain01.png');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.options-element-s-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #33BE8B;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.trade-element-l-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/tradebeat.png');
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.trade-element-l-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #00a9fa;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.hms-element-xl-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/hmsscreenmain.png');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.hms-element-xl-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #011133;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.auto-element-xl-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/carcluster.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.auto-element-xl-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.sail-element-l-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/sailingaura.png');
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.sail-element-l-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #f8c21c;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}

.callendar-element-s-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/sheduleapp.png');
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.callendar-element-s-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #3ad6c8;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}
.home-payment-element-xl-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image:url('.././img/paymentmain01.png');
  background-size: cover;
  background-position: right;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .01s ease;

}

.home-payment-element-xl-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #3ed6b5;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .2s ease;

}
/*general elements setting*/

.codi-element-big-overlay-title, .options-element-s-overlay-title,
.trade-element-l-overlay-title, .hms-element-xl-overlay-title,
.auto-element-xl-overlay-title, .sail-element-l-overlay-title,
.callendar-element-s-overlay-title, .home-payment-element-xl-overlay-title  {
  position: relative;
  top: -160px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);


}

.codi-element-big-overlay-description, .options-element-s-overlay-descriptions,
.trade-element-l-overlay-description, .hms-element-xl-overlay-description,
.auto-element-xl-overlay-description, .sail-element-l-overlay-description,
.callendar-element-s-overlay-description, .home-payment-element-xl-overlay-description {
  position: relative;
  top: -270px;
  margin-bottom: 1.8rem;
  margin-top: 4rem;
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  white-space: pre-line;
  line-height: 1.7rem;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);

}

.options-element-s-overlay-link,
.trade-element-l-overlay-link,.sail-element-l-overlay-link,
.callendar-element-s-overlay-link, .home-payment-element-xl-overlay-link {
  position: relative;
  display: block;
  width: 51%;
  top: 340px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  /*display: none; disable to show links to case studies*/
}


.codi-element-big-overlay-link, .hms-element-xl-overlay-link,
.auto-element-xl-overlay-link,.home-payment-element-xl-overlay-link {
  position: relative;
  display: block;
  width: 30%;
  top: 340px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  color: white;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  /*display: none; disable to show links to case studies*/
}





/*CTA-link See Case Study Shadows*/

.codi-element-big-overlay-link:hover {
  background-color: white;
  color: #1565C0;
  -webkit-box-shadow: 0px 0px 50px -7px rgba(59,232,255,1);
  -moz-box-shadow: 0px 0px 50px -7px rgba(59,232,255,1);
  box-shadow: 0px 0px 50px -7px rgba(59,232,255,1);
}

.options-element-s-overlay-link:hover {

  background-color: white;
  color: #33BE8B;
  -webkit-box-shadow: 0px 0px 50px -7px rgba(166,255,221,1);
  -moz-box-shadow: 0px 0px 50px -7px rgba(166,255,221,1);
  box-shadow: 0px 0px 50px -7px rgba(166,255,221,1);

}

.trade-element-l-overlay-link:hover {
  background-color: white;
  color: #00a9fa;
  -webkit-box-shadow: 0px 0px 50px -7px rgba(173,229,255,1);
  -moz-box-shadow: 0px 0px 50px -7px rgba(173,229,255,1);
  box-shadow: 0px 0px 50px -7px rgba(173,229,255,1);
}

.hms-element-xl-overlay-link:hover {
  background-color: white;
  color: #011133;
  -webkit-box-shadow: 0px 0px 50px -7px rgba(114,160,252,1);
  -moz-box-shadow: 0px 0px 50px -7px rgba(114,160,252,1);
  box-shadow: 0px 0px 50px -7px rgba(114,160,252,1);
}

.auto-element-xl-overlay-link:hover {
  background-color: white;
  color: #000000;
 -webkit-box-shadow: 0px 0px 50px -7px rgba(240,240,240,1);
  -moz-box-shadow: 0px 0px 50px -7px rgba(240,240,240,1);
  box-shadow: 0px 0px 50px -7px rgba(240,240,240,1);
}

.sail-element-l-overlay-link:hover {
  background-color: white;
  color: #f8c21c;
  -webkit-box-shadow: 0px 0px 50px -7px rgba(255,238,191,1);
  -moz-box-shadow: 0px 0px 50px -7px rgba(255,238,191,1);
  box-shadow: 0px 0px 50px -7px rgba(255,238,191,1);
}

.callendar-element-s-overlay-link:hover {
  background-color: white;
  color: #3ad6c8;
  -webkit-box-shadow: 0px 0px 50px -7px rgba(0,191,172,1);
  -moz-box-shadow: 0px 0px 50px -7px rgba(0,191,172,1);
  box-shadow: 0px 0px 50px -7px rgba(0,191,172,1);
}

.home-payment-element-xl-overlay-link:hover {
  background-color: white;
  color: #3ed6b5;
  -webkit-box-shadow: 0px 0px 50px -7px rgba(168,255,235,1);
  -moz-box-shadow: 0px 0px 50px -7px rgba(168,255,235,1);
  box-shadow: 0px 0px 50px -7px rgba(168,255,235,1);
  }

/*Onhover positioning, opacity and blure on project boxes*/

/*Codility*/
.codi-element-big:hover .codi-element-big-overlay-title {
  top: 0;
}
.codi-element-big:hover .codi-element-big-overlay-link {
  top: 100px;
}
.codi-element-big:hover .codi-element-big-overlay:after {
  opacity: .90;
}

.codi-element-big:hover .codi-element-big-overlay-description {
  top: 0px;
}

.codi-element-big-overlay:hover::before {
  filter: blur(12px);
}

/*XOptions*/
.small-element:hover .options-element-s-overlay-title {
  top: 0;
}
.small-element:hover .options-element-s-overlay-link {
  top: 100px;
}
.small-element:hover .options-element-s-overlay::after {
  opacity: .90;
}

.small-element:hover .options-element-s-overlay-descriptions {
  top: 0px;
}

.options-element-s-overlay:hover::before {
  filter: blur(12px);
}

/*Tradebeat*/

.medium-element:hover .trade-element-l-overlay-title {
  top: 0;
}
.medium-element:hover .trade-element-l-overlay-link {
  top: 100px;
}
.medium-element:hover .trade-element-l-overlay::after {
  opacity: .90;
}

.medium-element:hover .trade-element-l-overlay-description {
  top: 0px;
}

.trade-element-l-overlay:hover::before {
  filter: blur(12px);
}

/*hms*/

.element-big-two:hover .hms-element-xl-overlay-title {
  top: 0;
}

.element-big-two:hover .hms-element-xl-overlay-description {
  top: 0px;
}

.element-big-two:hover .hms-element-xl-overlay-link {
  top: 100px;
}
.element-big-two:hover .hms-element-xl-overlay::after {
  opacity: .80;
}

.hms-element-xl-overlay:hover::before {
  filter: blur(12px);
}

/*auto*/

.element-big-auto:hover .auto-element-xl-overlay-title {
  top: 0;
}

.element-big-auto:hover .auto-element-xl-overlay-description {
  top: 0px;
}

.element-big-auto:hover .auto-element-xl-overlay-link {
  top: 100px;
}
.element-big-auto:hover .auto-element-xl-overlay::after {
  opacity: .75;
}

.auto-element-xl-overlay:hover::before {
  filter: blur(12px);
}

/*Sailing Aura*/
.medium-element-two:hover .sail-element-l-overlay-title {
  top: 0;
}

.medium-element-two:hover .sail-element-l-overlay-description {
  top: 0px;
}

.medium-element-two:hover .sail-element-l-overlay-link {
  top: 100px;
}
.medium-element-two:hover .sail-element-l-overlay::after {
  opacity: .90;
}

.sail-element-l-overlay:hover::before {
  filter: blur(12px);
}

/*Callendar*/

.small-element-two:hover .callendar-element-s-overlay-title {
  top: 0;
}

.small-element-two:hover .callendar-element-s-overlay-description {
  top: 0px;
}

.small-element-two:hover .callendar-element-s-overlay-link {
  top: 100px;
}
.small-element-two:hover .callendar-element-s-overlay::after {
  opacity: .75;
}

.callendar-element-s-overlay:hover::before {
  filter: blur(12px);
}

/*DPP*/

.element-big-tree:hover .home-payment-element-xl-overlay-title {
  top: 0;
}

.element-big-tree:hover .home-payment-element-xl-overlay-description {
  top: 0px;
}

.element-big-tree:hover .home-payment-element-xl-overlay-link {
  top: 100px;
}
.element-big-tree:hover .home-payment-element-xl-overlay::after {
  opacity: .80;
}

.home-payment-element-xl-overlay:hover::before {
  filter: blur(12px);
}







	

