body {
	margin: 0;
}

.header-container {
	background-color: white;
	height: 30rem;
	width: 70rem;
	margin: 3rem auto;
	position: relative;
}
.hero-content {
	/*width: 70rem;
	margin: 3rem auto;*/
}
.visual-manifesto {
	width: 22rem;
	position: absolute;
	right: 26rem;
	top: 13rem;
}
.hello-messege {
	font-family: 'Lato', sans-serif;
	line-height: 1.5rem;
	display: inline-block;
	color: #4A4A4A;

}
.pw-name {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: 0.04rem;
	margin: -0.7rem 0;
	color: #4A4A4A;
}
nav {
	
	font-family: 'Lato', sans-serif;
	right: 0;
	color: #68C1C3
}
ul {
	position: absolute;
	right: 1rem;
	top: -0.7rem;
	
}
li {
	/*position: absolute;*/
	display: inline-block;
	text-decoration: none;
	padding: 1rem;
}

/*section info style*/

.info-container {
	display: flex;
}



.about-content {
	display: flex;
	flex-flow: row nowrap;
	flex-basis: 60%;
	order: 1;
	background-color: #F59678;
}



.about-title {
	font-family:'Lato', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #4A4A4A;
	margin-top: 3rem;
	margin-left: 9.5rem;

}

.about-text {
	
	font-family:'Lato', sans-serif;
	padding-right: 9.5rem;
	padding-bottom: 3rem;
	color: #4A4A4A;
	margin-top: 3rem;
	margin-left: 3rem;
	line-height: 1.7rem;
	white-space: pre-line;
}


.timeline-content {
	background-color: #68C1C3;
	flex-basis: 40%;
	flex-flow: row nowrap;
	order: 2;
}
	

.illu-about {
	
	background-color: white;
	flex-basis: 60%;
	
}
.timline-title-text {
	font-family:'Lato', sans-serif;
	color: #4A4A4A;
	margin-top: 3rem;
	margin-left: 3rem;

}
.timeline-text {
	font-family:'Lato', sans-serif;
	color: #4A4A4A;
	margin-top: 3rem;
	margin-left: 3rem;
}


.container-port {
	background-color: #f1f1f1;
}
.container-portfolio {
	height: 35rem;
	width: 70rem;
	margin: 0rem auto;
}
.portfolio-title-text {
	font-family:'Lato', sans-serif;
	font-weight: 700;
	color: #4A4A4A;
	margin: 0;
	padding-top: 3rem;

}
footer {
	background-image: url(../img/stars.png);
	height: 15rem;
	/*position: fixed;*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100rem;

}